<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/scrapbox-style.css}">
    <title>Hello</title>
</head>
<body>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<header class="header">
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">トップページ</a>
        </div>
    </nav>
</header>
<div class="container">
    <section layout:fragment="content"></section>
</div>
<footer class="footer">
    <div class="container">
        <span>© ベテランペーパードライバー</span>
    </div>
</footer>
</body>
</html>