<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>プライバシーポリシー</title>
</head>
<body>
<section layout:fragment="content">
    <div class="scrapbox-page">
        <h1 class="page-title">プライバシーポリシー</h1>
        <div class="article-content">
            <h3>広告の配信について</h3>
            <p>当サイトでは、第三者配信の広告サービス「Google アドセンス」を利用しています。</p>
            <p>広告配信事業者は、ユーザーの興味に応じた広告を表示するためにCookie（クッキー）を使用することがあります。これによってユーザーのブラウザを識別できるようになりますが、個人を特定するものではありません。</p>
            <p>Cookie（クッキー）を無効にする方法やGoogleアドセンスに関する詳細は「<a href="https://policies.google.com/technologies/ads?hl=ja" target="_blank" rel="noopener">広告 – ポリシーと規約 – Google</a>」をご確認ください。</p>

            <h3>アクセス解析ツールについて</h3>
            <p>当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。</p>
            <p>このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。このトラフィックデータは匿名で収集されており、個人を特定するものではありません。この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。この規約に関しての詳細は「<a href="https://marketingplatform.google.com/about/analytics/terms/jp/" target="_blank" rel="noopener">Googleアナリティクス利用規約</a>」をご確認ください。</p>

            <h3>免責事項</h3>
            <p>当サイトからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。</p>
            <p>また当サイトのコンテンツ・情報について、できる限り正確な情報を提供するよう努めておりますが、正確性や安全性を保証するものではありません。情報が古くなっていることもございます。当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。</p>

            <h3>著作権について</h3>
            <p>当サイトで掲載している文章や画像などにつきましては、無断転載することを禁止します。</p>
            <p>当サイトは著作権や肖像権の侵害を目的としたものではありません。著作権や肖像権に関して問題がございましたら、お問い合わせフォームよりご連絡ください。迅速に対応いたします。</p>

            <h3>リンクについて</h3>
            <p>当サイトは基本的にリンクフリーです。リンクを行う場合の許可や連絡は不要です。</p>
            <p>ただし、インラインフレームの使用や画像の直リンクはご遠慮ください。</p>
        </div>
    </div>
</section>
</body>
</html>
