<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7XX1D2BR7N"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7XX1D2BR7N');
    </script>
    <title th:text="${article.title}"></title>
</head>
<body>
<section layout:fragment="content">
    <h2 th:text="${article.title}"></h2>
    <div class="article-content" th:utext="${renderedHtmlContent}"></div>
    <p class="text-muted" th:text="${#dates.format(article.createdAt, 'yyyy-MM-dd HH:mm')}"></p>
</section>
</body>
</html>